* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  /* background-color: white; */
}

/* Button Primary */

.btn-primary {
  border-radius: 10px;
  height: 64px;
  color: white;
  font-size: 20px;
  text-align: center;
  background: #fd6e0a;
  border: 2px solid #fd6e0a;
  font-weight: 700;
  padding: 10px 20px;
}

/* Header Section  */

.header {
  background: url(../media/images/donation2.jpg);
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: white;
  text-align: center;
  padding: 100px 20px;
}
.header-title {
  font-size: 52px;
  font-family: "Protest Strike", sans-serif;
  padding: 60px 0px;
  color: indigo;

  /* Text outline */
  text-shadow: -4px -4px 0 #fff200, 4px -4px 0 #fff200, -4px 4px 0 #fff200,
    4px 4px 0 #fff200;
}

.header-sub-title {
  font-size: 24px;
  padding: 60px 0px;
  /* Text outline */
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

section {
  width: 70%;
  margin: 100px auto;
  text-align: center;
}

.section-title {
  font-size: 36px;
  padding-bottom: 20px;
}

.section-description {
  font-size: 20px;
  padding-bottom: 30px;
}
/* .donate-today {
  display: flex;
  flex-direction: column;
} */
.donate-amount {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.amount {
  border-radius: 8px;
  background-color: lightgrey;
  height: 100px;
  width: 100px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.orange-amount {
  border: 2px solid coral;
  background-color: #ee9494;
}

#amount-field {
  width: 60%;
  height: 50px;
  margin: 40px 0px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid gray;
  text-align: center;
  font-size: 20px;
}

/* Our Donate Plan */

.plans {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.plan {
  border: none;
  border-radius: 8px;
  padding: 20px;
}

.plan-food {
  background-color: lightblue;
}

.plan-shelter {
  background-color: #ee9494;
}

.plan-education {
  background-color: lightyellow;
}

.plan-icon {
  padding: 20px 0px;
  display: flex;
}

.plan-title {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  padding-bottom: 20px;
}

.plan-description {
  text-align: justify;
}

/* Blogs Style */
.blogs {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.blog {
  display: flex;
  justify-content: space-between;
}

.blog-text {
  text-align: left;
  width: 70%;
  padding: 20px;
}
.blog-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.blog-description {
  font-size: 24px;
  text-align: justify;
  margin-bottom: 20px;
}

.blog-image {
  width: 30%;
  display: flex;
  justify-content: end;
  /* align-items: center; */
}

.blog-image img {
  width: 100%;
}

/* Get My Updates */
.get-updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-section {
  background-color: #edeaaa;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.email-section {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

#email {
  width: 55%;
  height: 36px;
  border: none;
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0px 20px;
}
input:focus-visible {
  outline: none;
}

.btn-sub {
  height: 36px;
  width: 45%;
  font-size: 14px;
  border-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0%;
}

/* footer Style */
footer {
  background-color: black;
  color: #ffffff;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h2 {
  color: red;
  font-family: "Lobster", sans-serif;
}
